/*-----Desktop Devices-----*/

@media screen and (min-width: 1000px) {
  .page-container {
    flex-direction: row;
  }
  .error-container {
    height: 100%;
    justify-content: center;
    background-color: white;
    color: var(--text-dark);
  }
  .error-container h1 {
    font-size: 6rem;
  }
  .error-container button{
    border: 1px solid var(--text-dark);
  }
  .error-container a{
    color: var(--text-dark);
    font-size: 2.4rem;
  }
  .image-container {
    height: 100%;
    justify-content: center;
    margin: 0;
  }
  .image-container h2 {
    font-size: 4rem;
  }
  .image-container h3 {
    font-size: 2.4rem;
  }
}
